<a href="https://colab.research.google.com/github/jaymey/CAP5610/blob/main/CAP5610HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Task 7:

In [27]:
import sklearn
from sklearn.svm import SVC
import sklearn.model_selection
from sklearn.model_selection import cross_val_score

Same data preprocessing as HW2

In [28]:
df = pd.read_csv("train.csv", header=0)
df_cp = df.copy()

#drop identifying and empty columns
del df_cp['PassengerId']
del df_cp['Name']
del df_cp['Ticket']
del df_cp['Cabin']
del df_cp['Age']
del df_cp['SibSp']
del df_cp['Parch']
del df_cp['Embarked']

#drop empty rows
df_cp = df_cp.dropna()
df_cp.isnull().sum()

#Encode Gender
df_cp['Sex'] = df_cp['Sex'].map({'male':0, 'female':1})
df_cp['Sex'] = df_cp['Sex'].astype(str).astype(int)

y = df_cp['Survived']
X = df_cp.drop('Survived', axis=1)

df_cp

     Survived  Pclass  Sex     Fare
0           0       3    0   7.2500
1           1       1    1  71.2833
2           1       3    1   7.9250
3           1       1    1  53.1000
4           0       3    0   8.0500
..        ...     ...  ...      ...
886         0       2    0  13.0000
887         1       1    1  30.0000
888         0       3    1  23.4500
889         1       1    0  30.0000
890         0       3    0   7.7500

[891 rows x 4 columns]

Perform 5-fold cross validation scoring on Linear kernel

In [29]:
linear = SVC(kernel='linear')

linear_scores = cross_val_score(linear, X, y, cv=5)
print(linear_scores)

print("Linear SVC: %f accuracy with standard deviation of %f\n" % (linear_scores.mean(), linear_scores.std()))

[0.80446927 0.80337079 0.78651685 0.75280899 0.78651685]
Linear SVC: 0.786737 accuracy with standard deviation of 0.018667

Perform 5-fold cross validation scoring on Quadratic kernel

In [30]:
poly = SVC(kernel='poly', degree=2)

poly_scores = cross_val_score(poly, X, y, cv=5)
print(poly_scores)

print("Quadratic SVC: %f accuracy with standard deviation of %f\n" % (poly_scores.mean(), poly_scores.std()))

[0.62011173 0.64606742 0.60674157 0.64606742 0.65168539]
Quadratic SVC: 0.634135 accuracy with standard deviation of 0.017549

Perform 5-fold cross validation scoring on RBF kernel

In [31]:
rbf = SVC(kernel='rbf')

rbf_scores = cross_val_score(rbf, X, y, cv=5)
print(rbf_scores)

print("RBF SVC: %f accuracy with standard deviation of %f\n" % (rbf_scores.mean(), rbf_scores.std()))

[0.58100559 0.71910112 0.6741573  0.68539326 0.67977528]
RBF SVC: 0.667887 accuracy with standard deviation of 0.046170